Body{
    background-image: url(./Img/GettyImages-1266598528.jpg);
}
h1{
    text-align: center;
    color : yellow;

}
p{
    font-size: medium;
    color : yellow;
   
}

h3{
	color: red;
}